body{
font-family: "Roboto", sans-serif;
}

.alert-container{}

.callout-container{
    height: 100vh;

     background: url(../images/whiskey-background.jpg) no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.quotes-container{}


/*jumbotron*/

.jumbotron{
   background-color: transparent;
}

.jumbotron-header{
color: white;
font-weight: bold;
margin-bottom: 30px;

}

.jumbotron .lead {
margin: 25px 0;
font-weight: 300;
color: #f7f7f7;
}


}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.features-container{}


.text-muted {
    color: #e5e9ec!important;
}

/*block dividers*/

.block-divider{
    width: 150px;
    height: 5px;
    border: 0;
    
}

.block-divider-orange{
background-color: #ffa103;
}

.block-divider-short{
    width: 75px;

}

.opaque-overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.5);
}

/*Buttons*/

.btn--cta{
    font-weight: bold;
    border-radius: 25px;
    width: 160px;
    }

.btn-red{
    color: white;
    background-color: #ffa103;
    border-color: #ffa103;

}    

.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red:active:focus {

    background-color: #ff8503;
    border-color: #ff8503;
}